body{
background-color: rgb(211, 205, 205);
padding:2rem;
}
header{
    display: flex;
    justify-content: center;
    background-color:white;
}
main{
    background-color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section div{
    background-color: black;
    font-size: 3rem;
    color: white;
    height:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    margin: 2rem;
    flex: 1 0 45%;
   
}
p{
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
    background-color:white;
    padding: 0.5rem 2rem;
}